# Ignore Python bytecode files
*.pyc
*.pyo
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore logs and temporary files
*.log
*.tmp

# Ignore output files
*.csv
*.xlsx
*.h5
*.pkl

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore environment files
.env